h1 {color:#336666}
h3 {text-align: center;}
#first {text-align: center;}
.element1::first-letter { 
    font-size: 150%;
}
div {
    text-indent: 50px;
  }
.quote {
    font-family: "Bebas Neue", cursive;
}
 
  /*wireframe layout*/

  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 12% 23% 10% 35% 13% 7%;
    grid-template-areas: 
    "header header"
    "navigation navigation"
    "image image"
    "content content"
    "resume video"
    "footer footer";
    }
    
    .header {
        grid-area: header;
        text-size-adjust: 80%;
    }
    
    .navigation {
        grid-area: navigation;
        font-size: 100%;
        padding-bottom: 10%;
    }
    
    .photo {
        grid-area: photo;
        text-align: center;
        padding-top: 10%;
    }
    
    .content1 {
        grid-area: content1; 
        margin-left: 2%;
        margin-right: 3%;
        text-size-adjust: 70%;
        text-align: justify;
    }
    .footer {
        grid-area: footer;
        text-align: center;
        margin: auto;
        grid-area: Footer;
        background-color: #F5F0E5;
        border: 3px solid #336666;
        padding: .5%;
        margin: auto;
    }

    /*mobile navigation layout*/

.active a:link {
    background-color: none;
}
#hamburger {
    display: none;
}

nav {
    top: 0px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav>ul li {
    position: relative; 
    text-align: center;
    font-weight: bold;
    color:#336666;
    float: left;
}
nav a {
    text-decoration: none;
    display: inline-block;
    border: 3px solid #336666;
    padding: 15px 15px 15px 15px;
    width: 100px; 
    margin: 2px;
}

nav a:link{
    background-color: none;
}
nav a:hover, nav a:focus {
    background-color: #a9540A;
}
nav a:active{
    background-color: #A9540A;
}

nav ul>li ul {
    position: absolute;
    top: 100%;
    display: none;
}
nav ul ul li {
    float:none;
}

nav>ul>li:hover>ul{
    display: block;
}
@media only screen and (max-width: 640px) {
	header {
		position: relative;
        height: 40px;
        display: block;
        background-color: #336666;
        width: 100%; 
	}
	#hamburger {
		display: inline-block;
        padding-left: 20px;
        padding-bottom: 20px;
        width: 26px;
        float: none;
        font-size: 2em;
	}
  nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px 20px 20px 0px;
		top: 20px;
			}
	nav:hover ul {
		display: block;
	}
    	nav:hover #mobileHide {
		display: none;
	}
	nav li {
		text-align: center;
		padding: 0;
		margin: 0;
	}
    nav>ul li {
    text-align: left;
    font-weight: bold;
    color: #336666;
    float: left;
}
nav a {
    text-decoration: none;
    display: inline-block;
    border-top: none;
    border-bottom: none;
    padding: 15px 0px 15px 35px;
    width: 240px;
    margin-bottom: 2px;
}
nav .lastMobile {border-bottom: 3px dotted #336666;}
    nav ul li ul {
        display:none;
    }
}
#toggle {
    display: none;
}
@media only screen and (max-width:640px) {
    label {
        display: block;
    }
}
    
@media (min-width: 350px) {
    p {font-size: 1.25rem;}
    }
    
    @media (min-width: 850px) {
    p {font-size: 1.50rem;
        line-height: 1.5;}
    }

/* Print Stylesheet*/

@media print {
    .navigation,
    .photo
    {
        display: none;
    }
    body {font-family: serif;
        font-size: 6pt;
    }
    main {
        font-size: 6pt;
    }
    p {
        font-size: 6pt;
    }
    h3 {
        font-size: 10pt;
    }
}
@page {
    margin:  2cm 2cm 2cm 2cm;
}
