footer {
    background-image: url("./Images/footerbackground.jpg");
    background-repeat: none;
    background-size: cover;
}
.thumbnail:hover {
    transform: scale(2.1);
    transition: 200ms linear;
}
.thumbnail2:hover {
    transform: scale(2.1);
    transition: 200ms linear;
}

h1 {color:#336666}
h3 {text-align: center;}
#first {text-align: center;}
.element1::first-letter { 
    font-size: 150%;
}
div {
    text-indent: 50px;
  }
.quote {
    font-family: "Bebas Neue", cursive;
}
 
  /*wireframe layout*/

  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 12% 23% 10% 35% 13% 7%;
    grid-template-areas: 
    "header header"
    "navigation navigation"
    "image image"
    "content content"
    "resume video"
    "footer footer";
    }
    
    .header {
        grid-area: header;
        text-size-adjust: 80%;
    }
    
    .navigation {
        grid-area: navigation;
        font-size: 100%;
        padding-bottom: 3%;
    }
    
    .photo {
        grid-area: photo;
        text-align: center;
        padding-top: 3%;
    }
    .resume {
        grid-area: resume;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 175px;
    }

    .video {
        grid-area: video;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 175px;
        padding-bottom: 25px;
        width: 200;
        height: 200;
    }
    
    .content1 {
        grid-area: content1; 
        margin-left: 2%;
        margin-right: 3%;
        text-size-adjust: 70%;
        text-align: justify;
    }
    .footer {
        grid-area: footer;
        text-align: center;
        margin: auto;
        grid-area: Footer;
        background-color: #F5F0E5;
        border: 3px solid #336666;
        padding: .5%;
        margin: auto;
    }


@media only screen and (max-width:640px) {
    label {
        display: block;
    }
}
    
@media (min-width: 350px) {
    p {font-size: 1.25rem;}
    }
    
    @media (min-width: 850px) {
    p {font-size: 1.50rem;
        line-height: 1.5;}
    }

/* Print Stylesheet*/

@media print {
    .navigation,
    .photo
    {
        display: none;
    }
    body {font-family: serif;
        font-size: 6pt;
    }
    main {
        font-size: 6pt;
    }
    p {
        font-size: 6pt;
    }
    h3 {
        font-size: 10pt;
    }
}
@page {
    margin:  2cm 2cm 2cm 2cm;
}
